/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Tenor+Sans&display=swap');
/* Wildcard selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header */
 .header {
    min-height: 50vh;
    min-width: 100%;
    background-image: linear-gradient(rgba(23, 41, 112, 0.6),rgba(54, 82, 136, 0.58)),url(/assets/images/bli.jpg);
    background-position: center;
    background-size: cover;
 }

 header {
    font-family: 'Tenor Sans', sans-serif;
    position: fixed;
    box-shadow: 0 3px 2px rgb(from color r g b);
    z-index: 99;
    padding-left: 12px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
 }

#logo {
    padding-right: 13px;
}

 header a {
    text-decoration: none;
    color: #f7f7f7;
 }

 h1 {
    font-family: 'Tenor Sans', sans-serif;
    font-size: x-large; 
 }

body {
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

/* Nav toggle */
#drop:checked ~ nav {
    display: block;
}

#drop {
    display: none;
}

.drop-down {
    font-size: large;
    color: #f7f7f7;
}

/* Navigation */
nav {
    position: absolute;
     z-index: 99;
    background-image: linear-gradient(rgba(23, 41, 112, 0.6),rgba(54, 82, 136, 0.58)),url(/assets/images/bli.jpg);
    box-shadow: 0 2px 2px rgb(83, 99, 113) ;
    width: 100vw;
    top: 100%;
    height: 412px;
    left: 10em;
    padding: 0 12px;
    display: none;
}

#menu {
    margin-top: 5px;
    font-size: 1em;
    letter-spacing: 0.06em;
}
#menu a {
    color: rgb(222, 225, 228);
}

#menu > li {
    list-style-type: none;
    margin-bottom: 0.6rem;
    padding-right: 50px;
}

.center {
    border-bottom: 1px solid rgb(132, 101, 44);
}

/* main */
main {
    background-color: rgb(131, 138, 137);
    flex: 1 0 auto;
}

/* footer */
footer {
    background-color: blueviolet;
}