/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Tenor+Sans&display=swap');
/* Wildcard selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header */
header {
    background-color: aliceblue;
    font-family: 'Tenor Sans', sans-serif;
    padding: 0 12px;
    box-shadow: 0 3px 2px rgb(44, 29, 44);
    z-index: 99;
}

header a {
    text-decoration: none;
    font-family: 'Tenor Sans', sans-serif;
}

h1 {
    font-size: x-large;
    color: rgb(81, 89, 97);
    margin-top: 10px;
}

body {
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;

}

/* Navigation */
#menu {
    margin-top: 5px;
    font-size: 1em;
    letter-spacing: 0.06em;
}
#menu a {
    color: rgb(81 , 89, 97);
}

#menu > li {
    list-style-type: none;
    margin-bottom: 0.5rem;
}


main {
    background-color: rgb(131, 138, 137);
    flex: 1 0 auto;
}

footer {
    background-color: blueviolet;
}